@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
body {
  background-color: #4d4d4d;
  margin-top: 70px;
  overflow-x: scroll;
  color: white;
  font-family: 'Cutive Mono', monospace;
}
a {
  color: #dfe188;
}
a:hover {
  color: #c1c294;
}
a:visited {
  color: #dfe188;
}
.admintable thead {
  background-color: #383838;
  color: #b77e7e;
}
.admintable thead th {
  padding: 0 25px;
  margin: 0;
}
.admintable th,
.admintable td {
  margin-right: 100px;
}
.admintable tr {
  margin-bottom: 5px;
}
.admintable tr td {
  height: 50px;
  padding: 0 25px;
}
.admintable input {
  color: black;
}
.right {
  float: right;
}
.paginatordiv {
  text-align: center;
}
.paginatordiv li > a {
  background-color: #383838;
  color: white;
}
.paginatordiv li > a.paginatoractive {
  background-color: #9f9a99;
}
.paginatordiv li > a.paginatoractive:hover {
  background-color: #af8476;
  color: black;
}
.pagination {
  border-radius: 0;
}
.paginatordiv {
  border-top: 1px solid white;
  margin-top: 50px;
}
select {
  color: black;
}
input {
  color: black;
}
span.glyphiconarrow {
  font-size: 0.6em;
}
.info {
  color: #a7a7a7;
}
.createuserlink {
  margin-left: -50px;
}
.pillow-20 {
  height: 20px;
}
