@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  background-color: lightgray;
  margin-top: 70px;
  overflow-x: scroll;
}
.page {
  min-height: 700px;
}
.navbar {
  font-family: 'Open Sans', sans-serif;
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.75);
  background-color: #b4b4b4;
}
.navbar-nav {
  width: 900px;
}
.navbar-default {
  border-bottom: 3px solid #7b0202;
}
.dropdown-menu {
  background-color: #967474;
}
.dropdown-menu > li > a {
  background-color: #967474;
}
.dropdown-menu > li > a:hover {
  background-color: #6e3f3f;
}
.dropdownlink:hover {
  background-color: red;
}
.byline {
  display: block;
  height: 70px;
  background-color: #4e4e4e;
  color: white;
  padding-top: 10px;
}
.byline p {
  color: #a5a5a5;
}
.byline .media-body {
  padding-left: 20px;
  padding-top: 5px;
}
.byline .media-body h4 {
  color: #a5a5a5;
}
.footer {
  background-color: #4e4e4e;
  height: 200px;
  color: white;
  margin-top: 2px;
}
.footer a {
  color: #d5bb98;
}
.footer a:visited {
  color: #d5bb98;
}
.footer a:hover {
  color: #d5bb98;
}
.footerpart {
  padding: 20px;
}
.leftmessage {
  font-size: 45px;
}
.calendarimagediv img {
  margin: 0 auto;
  display: block;
}
.calendar {
  border: 2px solid black;
  margin: 0 auto;
  margin-bottom: 80px;
  overflow-x: scroll;
}
.calendar th {
  border: 1px solid gray;
  text-align: center;
}
.calendar td {
  height: 110px;
  border: 1px solid gray;
  background-color: #a2a2a2;
}
.calendar .calday {
  background-color: white;
  min-width: 110px;
}
.calendar .caldiv {
  position: relative;
  height: 30px;
  width: 30px;
  background-color: #cecece;
  margin-top: -54px;
  text-align: center;
  font-size: 20px;
}
.calendar .caldivred {
  position: relative;
  height: 30px;
  width: 30px;
  background-color: #da8484;
  margin-top: -54px;
  text-align: center;
  font-size: 20px;
}
.calendar .caldivthisred {
  position: relative;
  height: 30px;
  width: 30px;
  background-color: #da8484;
  -webkit-box-shadow: 1px 1px 5px 1px #3d78bf;
  -moz-box-shadow: 1px 1px 5px 1px #3d78bf;
  box-shadow: 1px 1px 5px 1px #3d78bf;
  margin-top: -54px;
  text-align: center;
  font-size: 20px;
}
.calendar .calweek {
  width: 20px;
  background-color: #505050;
  text-align: center;
  color: white;
}
.calendar .thisday {
  background-color: white;
  -webkit-box-shadow: inset 0 0 5px 1px #3d78bf;
  -moz-box-shadow: inset 0 0 5px 1px #3d78bf;
  box-shadow: inset 0 0 5px 1px #3d78bf;
}
.calendar .caldivthis {
  position: relative;
  height: 30px;
  width: 30px;
  background-color: #cecece;
  -webkit-box-shadow: 1px 1px 5px 1px #3d78bf;
  -moz-box-shadow: 1px 1px 5px 1px #3d78bf;
  box-shadow: 1px 1px 5px 1px #3d78bf;
  margin-top: -54px;
  text-align: center;
  font-size: 20px;
}
.calendar .helgdiv {
  position: relative;
  height: 30px;
  margin-top: -29px;
  text-align: center;
  font-size: 8px;
  font-style: italic;
  margin-left: 40px;
}
.calendar .helgdiv img {
  float: left;
  margin-top: 5px;
}
.calendar .helgdiv .flaggtext {
  text-align: left;
  margin-top: 5px;
  padding-left: 1px;
}
.calendar .helgdiv .afton {
  text-align: left;
  margin-top: 5px;
  padding-left: 1px;
}
.calendar .namesdiv {
  font-size: 8px;
  margin-left: 3px;
  margin-bottom: -100px;
}
.glyphicon {
  font-size: 30px;
  color: #505050;
  border-radius: 5px;
}
.caltitle {
  width: 200px;
}
.prevnextdiv {
  width: 40px;
}
.calendarheader {
  font-size: 35px;
  display: inline;
}
.left {
  float: left;
}
.right {
  float: right;
}
.calnextarrow {
  margin-left: -20px;
}
.idagbtn {
  margin-bottom: 10px;
  background-color: #284262;
  color: white;
}
.idagbtndiv {
  padding-left: 100px;
  padding-top: 8px;
}
.pillow-20 {
  height: 20px;
}
.pillow-50 {
  height: 50px;
}
.pillow-200 {
  height: 200px;
}
.pillow-100 {
  height: 100px;
}
.reportwell {
  background-color: #c9c9c9;
  padding: 30px 60px;
}
.nav > li > a.notnavacitve {
  color: black;
}
.nav > li > a.notnavacitve:hover {
  color: #d5d5d5;
  background-color: #745352;
}
.nav > li > a.navactive {
  color: white;
  background-color: #7B0202;
}
.nav > li > a.navactive:hover {
  background-color: #4B0000;
  color: #9e9e9e;
}
.navbar-brand > img {
  display: block;
  margin-top: -10px;
}
.loginlink {
  float: right;
}
.formerror {
  color: #a83d3d    ;
  font-size: 12px;
}
.modal-header {
  background-color: #7B0202;
  color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-weight: bold;
}
.modal-body {
  background-color: #d2d2d2;
}
.modal-label {
  font-weight: normal;
}
.modal-footer {
  padding: 30px;
  text-align: right;
  border-top: 2px solid #7b0202;
  background-color: #4E4E4E;
  height: 90px;
}
.modal-subheader {
  height: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #7b0202;
}
.info {
  font-size: 12px;
  color: gray;
}
.well {
  background-color: #b4b4b4;
}
