@linkcolor: #d5bb98;
@pcolorgray: #a5a5a5;
@navbarcolor: #b4b4b4;
@reddetalj: #7b0202;

body {
    background-color: lightgray;
    margin-top: 70px;
}
.page {
    min-height: 700px;
}
.navbar{
    -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.75);
    background-color: @navbarcolor;
}
.navbar-default .navbar-nav > li{
    a {
        color: black;
    }
    a:visited {
        color: black;
    }
    a:hover{
        color: @reddetalj;
    }
}
.navbar-default{
    border-bottom: 3px solid @reddetalj;
}
.dropdown-menu {
    background-color: #967474;
    > li > a{
        background-color: #967474;
    }
    > li > a:hover{
        background-color: #6e3f3f;
    }

}
.dropdownlink:hover {
    background-color: red;
}

.byline{
    display: block;
    height: 70px;
    background-color: #4e4e4e;
    color: white;
    padding-top: 10px;
    p {
        color: @pcolorgray;
    }
    .media-body {
        padding-left: 20px;
        padding-top: 5px;

        h4 {
            color: @pcolorgray;
        }

    }
}
.footer {
    background-color: #4e4e4e;
    // border-top: 2px solid @reddetalj;
    height: 200px;
    color: white;
    margin-top: 2px;
    a {
        color: @linkcolor;
    }
    a:visited {
        color: @linkcolor;
    }
    a:hover{
        color: @linkcolor;
    }
}
.footerpart{
    padding: 20px;
}
.leftmessage{
    font-size: 45px;
}
